NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_SUPABASE_URL=https://eaxfkkuzdlguybhbdapp.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=
PAYMENT_PROVIDER=mock
PAYSTACK_SECRET_KEY=
FLUTTERWAVE_SECRET_KEY=
STRIPE_SECRET_KEY=
